$icon-size: 1rem;

:host {
  width: $icon-size;
  height: $icon-size;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    &.centered-h {
      transform: translateX(-50%);
    }
  }
}


/*
.centered {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: yellow;
  i, .icon-order, svg {
    position: absolute;
    //left: 50%;
    //-webkit-transform: translateX(-50%);
    //-ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.svg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: cyan;
  //width: calc()
}

.icon {
  width: $icon-size;
  height: $icon-size;
}

.icon-order {
  border: 1px solid black;
  background: white;
  border-radius: 5px;
}
*/
