<div class="content">
  <div class="header">
    <div class="action">
      <i class="bi bi-printer print"></i>
    </div>
    <div class="title">
      {{data.title.fromTime}}&nbsp; -&nbsp; {{data.title.toTime}}
    </div>
    <div class="resolution" [dir]="direction">
      <span>{{text.resolution.label}}</span>
      <select [(ngModel)]="data.resolution" (change)="onChangeResolution()">
        <option *ngFor="let option of text.resolution.options" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
  </div>

  <div class="header sub-header">
    <div>{{text.medicationsConcentrated.legend}}</div>
    <div>{{text.medicationsConcentrated.title}}</div>
    <div></div>
  </div>

  <div #sections class="sections">
    <app-medications-section *ngFor="let section of data.sections"
      [section]="section"
      [timeline]="data.timeline">
    </app-medications-section>
  </div>
</div>

