<div>Medications: {{medications.length}}</div>

<ng-template #itemTemplate let-medication="item" let-index="index">
  <app-medication-lister-item
      [medication]="medication.value"
      [index]="index"
  ></app-medication-lister-item>
</ng-template>

<div class="medication-table">
  <bs-sortable
      [(ngModel)]="medications"
      [itemTemplate]="itemTemplate"
      (onChange)="onChange($event)"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem=""
      placeholderClass="placeholderStyle text-center"
      wrapperClass="sortable-wrapper"
  ></bs-sortable>
</div>
