.medication-table {
   background: #f0f0f0;
  //height: 100px;
  display: block;
  list-style: none;
  padding: 0; /* Remove padding */
  margin: 0.5rem 0 0 0; /* Remove margins */
}

.add-button {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  margin-inline-start: 2rem;
}
