<div class="header">
  <div class="action-icons horizontal-left">
    <i class="bi bi-printer print"></i>
    <i class="bi bi-arrow-clockwise"></i>
  </div>

  <div class="title horizontal-center">
    {{serverData.title.fromTimeGmt}}&nbsp; -&nbsp; {{serverData.title.toTimeGmt}}
  </div>

  <div class="resolution horizontal-right vertical-center" [dir]="direction"></div>
</div>

<div class="sections">
  <app-medicon-section-container *ngFor="let section of serverData.sections"
    [direction]="direction"
    [text]="text"
    [section]="section"
    [timelineRange]="serverData.timelineRange"
    [timelineValues]="timelineValues"
    (changeResolution)="onChangeResolution($event)"
  >
  </app-medicon-section-container>
</div>

