<div #content class="content">
  <div class="header">
    <div class="action-icons horizontal-left">
      <i class="bi bi-printer print"></i>
      <i class="bi bi-arrow-clockwise"></i>
      <span class="paging-icons">
        <i class="bi bi-fast-forward backward larger"></i>
        <i class="bi bi-caret-left"></i>
        <i class="bi bi-caret-right"></i>
        <i class="bi bi-fast-forward larger"></i>
      </span>
    </div>

    <div class="title horizontal-center">
      {{data.title.fromTime}}&nbsp; -&nbsp; {{data.title.toTime}}
    </div>

    <div class="resolution horizontal-right vertical-center" [dir]="direction">
      <span>{{text.resolution.label}}</span>
      <select [(ngModel)]="data.resolution" (change)="onChangeResolution()">
        <option *ngFor="let option of text.resolution.options" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="timelineWidth" class="sections">
    <app-medicon-section-container *ngFor="let section of data.sections"
      [direction]="direction"
      [text]="text"
      [section]="section"
      [timeline]="data.timeline"
      [preTimelineWidth]="preTimelineWidth"
      [timelineWidth]="timelineWidth">
    </app-medicon-section-container>
  </div>
</div>

