.title {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.content {
  .categories-container {
    app-medications-category {
      display: block;
    }
  }
  .x-axis-timeline {
    display: flex;
    justify-content: flex-end;
    position: relative;
    line-height: 1.5rem;
    height: 1.5rem;
    .x-axis-timeline-values {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      > div {
        text-align: center;
        width: 100%;
      }
      &.top {
        // align-items: flex-end;
      }
    }
  }
}


