@import 'variables';

:host {
  display: inline-block;
  position: relative;
  line-height: $medicon-timeline-metrics-height;
  height: $medicon-timeline-metrics-height;
  .xaxis-value {
    position: absolute;
    background: yellow;
     text-align: center;
    border: 1px solid black;
    // width: var(--hardVerticalWidth);
  }
}
