@import 'variables';

:host {
  display: inline-block;
  position: relative;
  line-height: $medicon-timeline-metrics-height;
  height: $medicon-timeline-metrics-height;
  .x-axis-timeline-metrics {
    position: absolute;
    display: inline-flex;
    justify-content: left;
    left: calc(var(--hardVerticalsWidth) * -0.5);
    > div {
      text-align: center;
      width: var(--hardVerticalsWidth);
    }
  }
}
