
<ng-container *ngIf="mediconService.timelineMetrics$ | async as metrics">
  <ng-container *ngIf="mediconService.xAxisValues$ | async as values">
    <div class="x-axis-timeline-metrics">
      <div *ngFor="let xAxis of values"
           [style.marginLeft.px]="xAxis.marginLeft"
      >{{xAxis.value}}</div>
    </div>
  </ng-container>
</ng-container>


<!--<ng-container *ngIf="mediconService.timelineMetrics$ | async as metrics">
  <ng-container *ngIf="mediconService.xAxisValues$ | async as values">
    <div class="x-axis-timeline-metrics" style="&#45;&#45;hardVerticalsWidth: {{metrics.hardVerticalsWidth}}px">
      <div *ngFor="let value of values">{{value}}</div>
    </div>
  </ng-container>
</ng-container>-->


<!--
<ng-container *ngIf="mediconService.timelineMetrics$ | async as metrics">
  <div class="x-axis-timeline-metrics" style="&#45;&#45;hardVerticalsWidth: {{metrics.hardVerticalsWidth}}px">
    <div *ngFor="let value of metrics.xAxisValues">{{value}}</div>
  </div>
</ng-container>
-->



