@import 'variables';

:host {
  display: inline-block;
  position: relative;
  line-height: $medicon-timeline-metrics-height;
  height: $medicon-timeline-metrics-height;
  .xaxis-value {
    position: absolute;
    left: 0;
    // text-align: center;
    // width: var(--hardVerticalsWidth);
  }
}
