<div class="content" #content
     *ngIf="mediconService.timelineMetrics$ | async; let metrics"
     [style.width.px]="metrics.window.width"
     style="--medications-count:{{medications.length}}"
     (scroll)="onScroll($event)"
  >
  <div class="timeline-metrics" [style.width.px]="metrics.total.width">
    <app-medicon-timeline-metrics></app-medicon-timeline-metrics>
  </div>

  <div class="full-width" [style.width.px]="metrics.total.width">
    <div class="soft-verticals"
         style="--soft-verticals-width:{{metrics.softVerticalWidthStyle}}">
    </div>
    <div class="hard-verticals"
         style="--hard-verticals-width:{{metrics.hardVerticalWidthStyle}}">
    </div>
    <div class="medication-backgrounds"></div>
    <div class="filler" *ngIf="metrics.total.fillerWidth>0" [style.width.px]="metrics.total.fillerWidth"></div>
    <div class="pivot-line" [style.left.px]="metrics.pivotX"></div>
    <div class="medications">
      <div class="execution" *ngFor="let medication of medications">
        <ng-container *ngIf="medication">
          <app-medicon-execution-continuous
            *ngIf="medication.type===ExecutionType.Continuous"
            class="continuous"
            [medication]="medication">
          </app-medicon-execution-continuous>
          <app-medicon-execution-periodic
            *ngIf="medication.type===ExecutionType.Periodic"
            class="periodic">
          </app-medicon-execution-periodic>
        </ng-container>
      </div>
    </div>
  </div>
</div>






<!--<app-medicon-scrollbar
    [timelineRange]="timelineRange"
    [timelineWidth]="timelineWidth"
>
</app-medicon-scrollbar>-->


<!--<div class="graph-container" [style.width.px]="timelineWidth">
  <div class="graph" [class.show-bottom-border]="isShowBottomBorder">
    <div class="vertical-lines-container">
      <ng-container *ngFor="let part of [].constructor(PARTS); let i=index">
        <ng-container
            [ngTemplateOutlet]="verticalLines"
            [ngTemplateOutletContext]="{isLast: i===PARTS, value: timelineValues.xAxisValues[i]}"
        ></ng-container>
      </ng-container>
    </div>
    <div class="pivot-line" [style.left.px]="pivotTimePositionX"></div>
    <div class="execution">
      <app-medicon-execution-continuous
          *ngIf="medication.type===ExecutionType.Continuous"
          class="continuous"
          [timelineRange]="timelineRange"
          [medication]="medication"
          [timelineWidth]="timelineWidth"
      ></app-medicon-execution-continuous>
      <app-medicon-execution-periodic
          *ngIf="medication.type===ExecutionType.Periodic"
          class="periodic"
      ></app-medicon-execution-periodic>
    </div>
  </div>
</div>-->

<!--<ng-template #verticalLines let-isLast="isLast" let-value="value" >
  <div class="vertical-lines-part-container">
    <div class="vertical-lines-part">
      <div class="sub-divisions">
        <div *ngFor="let line of [].constructor(subDivisionLines)" class="sub-division-line"></div>
      </div>
    </div>
  </div>
</ng-template>-->


