@import 'variables';

:host {
  width: 100%;
  margin-right: $medicon-post-timeline-margin-right;

  .content {
    //background: yellow;
    // height: 100%;  // calc(100% + 17px);
     height: calc(var(--medications-count) * #{$medicon-graph-line-height} + #{$medicon-timeline-metrics-height} + var(--scrollbar-width) + 2px);
    overflow-x: scroll;
    overflow-y: hidden;
    //box-sizing: content-box;

    .timeline-metrics {
      //background: yellow;
      height: $medicon-timeline-metrics-height;
      overflow: hidden;
    }

    .full-width {
      background: white;
      height: 100%;
      position: relative;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      //box-sizing: content-box;
      .medication-backgrounds, .filler, .hard-verticals, .soft-verticals, .pivot-line, .medications  {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // display: grid;
      }
      .medication-backgrounds {
        z-index: 1;
        background-image: linear-gradient(180deg, #e7e7e7 $medicon-graph-line-height, transparent 0);
        background-size: calc($medicon-graph-line-height * 2) calc($medicon-graph-line-height * 2);
      }
      .soft-verticals {
        z-index: 2;
        background-image: linear-gradient(90deg, #CECECEFF 1px, transparent 0);
        background-size: var(--soft-verticals-width);
      }
      .hard-verticals {
        z-index: 3;
        background-image: linear-gradient(90deg, black 1px, transparent 0);
        background-size: var(--hard-verticals-width);
      }
      .filler {
        z-index: 4;
        background: #939393;
        left: unset;
        right: 0;
      }
      .pivot-line {
        width: 2px;
        background: #ff612e;
        z-index: 5;
      }
      .medications {
        z-index: 6;
        display: flex;
        flex-direction: column;
        .execution {
          height: $medicon-graph-line-height;
          display: block;
        }
      }
    }
  }

}



/*

.graph-container {
  position: relative;
  .graph {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    &.show-bottom-border {
      border-bottom: 1px solid gray;
    }
    &.section-graph-odd {
      background: white;
    }
    &.section-graph-even {
      background: #eeeeee;
    }
    &.last-section-graph {
      border-bottom: 1px solid gray;
    }
    .vertical-lines-container {
      z-index: 1;
    }
    .pivot-line, .execution {
      position: absolute;
      height: $medicon-graph-line-height;
      display: block;
    }
    .pivot-line {
      width: 2px;
      background: red;
      z-index: 2;
    }
    .execution {
      z-index: 3;
      display: flex;
      align-items: center;
    }
  }
}
*/

/*

.vertical-lines-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  .vertical-lines-part-container {
    display: block;
    width: 100%;
    height: $medicon-graph-line-height;
    position: relative;
    &:not(:last-child) {
      border-right: 1px solid black;
    }
    .sub-divisions {
      display: flex;
      justify-content: space-evenly;
      .sub-division-line {
        height: $medicon-graph-line-height;
        width: 1px;
        display: block;
        background: #dddddd;
      }
    }
  }
}
*/
