@import 'variables';

.graph-line {
  display: flex;
  align-items: center;
  height: $medication-graph-height;
  .name {
    height: $medication-graph-height;
    overflow-y: hidden;
  }

  .graph-container {
    position: relative;
    .graph {
      border-top: 1px solid gray;
      border-right: 1px solid gray;
      border-left: 1px solid gray;
      height: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      &.show-bottom-border {
        border-bottom: 1px solid gray;
      }
      &.section-graph-odd {
        background: white;
      }
      &.section-graph-even {
        background: #eeeeee;
      }
      &.last-section-graph {
        border-bottom: 1px solid gray;
      }
      .vertical-lines-container {
        z-index: 1;
      }
      .pivot-line, .execution {
        position: absolute;
        height: $medication-graph-height;
        display: block;
      }
      .pivot-line {
        width: 2px;
        background: red;
        z-index: 2;
      }
      .execution {
        z-index: 3;
      }
    }
  }
}

.vertical-lines-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  .vertical-lines-part-container {
    display: block;
    width: 100%;
    height: $medication-graph-height;
    position: relative;
    &:not(:last-child) {
      border-right: 1px solid black;
    }
    .sub-divisions {
      display: flex;
      justify-content: space-evenly;
      .sub-division-line {
        height: $medication-graph-height;
        width: 1px;
        display: block;
        background: #dddddd;
      }
    }
  }
}
