<div class="graph-line" #graphLine>
  <div class="name" #name [style.width.px]="medicationNameWidth">
    <ng-container *ngIf="!isCondensedCategory">
      {{medication.name}}
    </ng-container>
    <ng-container *ngIf="isCondensedCategory">
      <span [style.color]="categoryColor">{{categoryName}}</span>
    </ng-container>
  </div>

  <div class="graph-container" [style.width.px]="timelineWidth">
    <div class="graph" [class.show-bottom-border]="isShowBottomBorder">
      <div class="vertical-lines-container">
        <ng-container *ngFor="let part of [].constructor(PARTS); let i=index">
          <ng-container
              [ngTemplateOutlet]="verticalLines"
              [ngTemplateOutletContext]="{isLast: i===PARTS, value: timeline.xAxisValues[i]}"
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #verticalLines let-isLast="isLast" let-value="value" >
  <div class="vertical-lines-part-container">
    <div class="vertical-lines-part"></div>
    <div *ngIf="isLast" class="x-axis-footer-value">{{value}}</div>
  </div>
</ng-template>
