<div class="scrollbar"
    [style.marginLeft.px]="medicationsAreaWidth"
     [style.width.px]="timelineWidth"
>
  <div class="scrollbar-content">
    wewe jn kjhkjh jkh jkh jkh kjh kjh kjh kjh kjh jkh kjh kjh jkh kjh kjhkjh jh k
    wewe jn kjhkjh jkh jkh jkh kjh kjh kjh kjh kjh jkh kjh kjh jkh kjh kjhkjh jh k
    wewe jn kjhkjh jkh jkh jkh kjh kjh kjh kjh kjh jkh kjh kjh jkh kjh kjhkjh jh k
    wewe jn kjhkjh jkh jkh jkh kjh kjh kjh kjh kjh jkh kjh kjh jkh kjh kjhkjh jh k
    wewe jn kjhkjh jkh jkh jkh kjh kjh kjh kjh kjh jkh kjh kjh jkh kjh kjhkjh jh k
    wewe jn kjhkjh jkh jkh jkh kjh kjh kjh kjh kjh jkh kjh kjh jkh kjh kjhkjh jh k
  </div>
</div>
