<div class="category">
  <div class="expand-icon" [style.width.px]="expandIconWidth">
    <i class="bi bi-plus" *ngIf="!isExpanded" (click)="onClickExpand()"></i>
    <i class="bi bi-dash" *ngIf="isExpanded" (click)="onClickCondense()"></i>
  </div>

  <div class="frame" [style.width.px]="frameWidth">
    <ng-container *ngIf="isExpanded">
      <div *ngFor="let medication of category.medications" class="frame-line-filler"></div>
    </ng-container>
  </div>

  <div class="medication" [style.width.px]="medicationNameWidth + timelineWidth">
    <ng-container *ngIf="!isExpanded">
      <app-medication-graph
          [isCondensedCategory]="true"
          [timeline]="timeline"
          [medicationNameWidth]="medicationNameWidth"
          [timelineWidth]="timelineWidth"
          [isShowBottomBorder]="isLastCategory"
      ></app-medication-graph>
    </ng-container>
    <ng-container *ngIf="isExpanded">
      <div *ngFor="let medication of category.medications; let i=index" class="medication-container">
        <app-medication-graph
            [medication]="medication"
            [timeline]="timeline"
            [medicationNameWidth]="medicationNameWidth"
            [timelineWidth]="timelineWidth"
            [isShowBottomBorder]="isLastCategory && i+1===category.medications.length"
        ></app-medication-graph>
      </div>
    </ng-container>
  </div>
</div>
