$medicon-post-timeline-margin-right: 50px;
$medicon-category-expand-icon-width: 15px;
$medicon-category-frame-width: 10px;
$medicon-category-medication-name-width: 300px;
$medicon-category-area-width: calc(#{$medicon-category-expand-icon-width} + #{$medicon-category-frame-width} + #{$medicon-category-medication-name-width});
$medicon-graph-line-height: 50px;
$medicon-timeline-values-height: 1.5rem;

