@import 'variables';

:host {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 2.5rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  > div {
    width: 30%;
  }
  &.top {
    background: #e9e9e9;
    margin-bottom: 1rem;
  }
  &.bottom {
    margin-top: 1rem;
  }
  > .action-icons {
    span {
      width: 5.3rem !important;
      display: inline-block;
      //padding-inline-end: 4rem;
      &.legend-title {
        overflow: visible;
        width: 5.3rem !important;
      }
      i {
        font-size: var(--action-icons-font-size);
      }
    }
  }
}

.legend {
  padding-inline: 1rem;
  display: inline-grid;
  column-gap: 5rem;
  grid-template-columns: auto auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.2rem;
      app-medicon-icon {
        margin-inline-end: 1rem;
      }
    }
  }
}

.filters {
  margin: 0.5rem 0 1.5rem $medicon-category-area-width;
  background: #f2ffeb;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  .filter-group {
    display: flex;
    .filter {
      display: flex;
      align-items: center;
      input {
        margin: 0 0.4rem 0 0;
        //border-color: #e2e2e2 !important;
        &:checked {
          //background-color: #0d6efd;
          //border-color: #0d6efd;


          //background-color: #cfcfcf !important;
          //filter: sepia(100%);
          //border-color: unset !important;
           //color: red !important;
        }
        //background-color: unset !important;
        //border-color: #dcdcdc !important;
        .checked {
          //background-color: red !important;
          //border-color: green !important;
        }
      }
    }
    :not(:last-child) {
      margin-right: 1.5rem;
    }
  }

/*  :not(:first-child) {
    margin-left: 0.5rem;
  }
*/
}

.content {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  .categories {
    width: $medicon-category-area-width;
    display: block;
  }
  .timelineGraph {
    flex-grow: 1;
    margin-right: $medicon-post-timeline-margin-right;
  }
}

