<div class="medication-row" [class.first]="index===0">
  <div class="medication">
    <div class="prop category">
      <span class="label">Category</span>
      <select [(ngModel)]="medication.categoryId" (change)="onChangeCategory($event)">
        <option *ngFor="let option of MedicationCategories" [value]="option.id">{{option.label}}</option>
      </select>
    </div>

    <div class="prop medication">
      <span class="label">Medication</span>
      <select [ngModel]="medication.id" (change)="onChangeMedication($event)">
        <option *ngFor="let item of categoryMedications" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="prop execution">
      <span class="label">Type</span>
      <select [(ngModel)]="medication.type" (change)="stopPropagation($event)">
        <option [value]="ExecutionType.Continuous">Continuous</option>
        <option [value]="ExecutionType.Periodic">Periodic</option>
      </select>
    </div>


    <!--     C O N T I N U O U S     -->
    <ng-container *ngIf="medication.type===ExecutionType.Continuous">
      <div class="prop">
        <span class="label">Relative minutes:</span>
      </div>

      <div class="prop">
        <span class="label">Order Time</span>
        <input type="text" [(ngModel)]="medication.orderTime" (change)="stopPropagation($event)">
      </div>

      <div class="prop">
        <span class="label">Execution Time</span>
        <input type="number" [(ngModel)]="medication.executionTime" (change)="stopPropagation($event)">
      </div>

      <div class="prop">
        <span class="label">Duration</span>
        <input type="number" [(ngModel)]="medication.duration" (change)="stopPropagation($event)">
      </div>
    </ng-container>


    <!--     P E R I O D I C     -->
    <ng-container *ngIf="medication.type===ExecutionType.Periodic">
      <div class="prop periodic">
        <span class="label">Times</span>

        <!-- not using *ngFor b/c bootstrap sortable throws error when -->
        <!-- typing in input field since it is not designed for typing -->
        <input type="text" [value]="medication.times[0]"
               (change)="onChangeTime($event, 0)"
               (keydown)="onChangeTime($event, 0)"
               (paste)="onChangeTime($event, 0)"
        >
        <input type="text" [value]="medication.times[1]"
               (change)="onChangeTime($event, 1)"
               (keydown)="onChangeTime($event, 1)"
               (paste)="onChangeTime($event, 1)"
        >
        <input type="text" [value]="medication.times[2]"
               (change)="onChangeTime($event, 2)"
               (keydown)="onChangeTime($event, 2)"
               (paste)="onChangeTime($event, 2)"
        >
      </div>
    </ng-container>
  </div>

  <div class="delete">
    <i class="bi bi-trash" (click)="onClickDelete()"></i>
  </div>
</div>
