//:host {
//  box-sizing: border-box;
//}

.content {
  //height: 100vh;
  //background: white;
  display: block;

  .title {
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: flex-end;
    text-decoration: underline;
  }



  header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: #eeeeee;
  }
 }

