
<div class="buttons">
  <button (click)="graphType=GraphType.LinesRegular">Linear</button>
  <button (click)="graphType=GraphType.PieRegular">Pie</button>
</div>

<div style="background: white; display: block; height: 600px">
  <app-graph-lines *ngIf="graphType===GraphType.LinesRegular"
    [data]="mockDataGraphLines.data"
    [metadata]="mockDataGraphLines.metadata">
  </app-graph-lines>

  <app-graph-pie *ngIf="graphType===GraphType.PieRegular"
    [data]="mockDataGraphPie.data"
    [metadata]="mockDataGraphPie.metadata">
  </app-graph-pie>
</div>


