@font-face {
  font-family: 'CMR_thin';
  src: url('Heebo-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMR_regular';
  src: url('Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMR_black';
  src: url('Heebo-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMR_bold';
  src: url('Heebo-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMR_extra_bold';
  src: url('Heebo-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMR_light';
  src: url('Heebo-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMR_medium';
  src: url('Heebo-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




