@font-face {
  font-family: 'heebo_thin';
  src: url('Heebo-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heebo_regular';
  src: url('Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heebo_black';
  src: url('Heebo-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heebo_bold';
  src: url('Heebo-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heebo_extra_bold';
  src: url('Heebo-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heebo_light';
  src: url('Heebo-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heebo_medium';
  src: url('Heebo-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




