<app-medicon-icon
    class="icon order-icon"
    [type]="MediconLegendIconType.Order"
    [isCenteredH]="true"
    [style.margin-left.px]="orderIconMargin">
</app-medicon-icon>

<div *ngIf="orderIconMargin !== -1"
    class="line order-line"
    [style.margin-left.px]="orderIconMargin"
    [style.width.px]="orderLineWidth">
</div>

<app-medicon-icon
    *ngIf="executionIconMargin !== -1"
    class="icon execution-icon"
    [type]="MediconLegendIconType.Execution"
    [isCenteredH]="true"
    [style.margin-left.px]="executionIconMargin">
</app-medicon-icon>

<div *ngIf="executionIconMargin !== -1"
     class="line execution-line"
     [style.margin-left.px]="executionIconMargin"
     [style.width.px]="executionLineWidth">
</div>
