<!--<div class="lines-collapse centered">
  <i class="bi bi-arrows-collapse"></i>
</div>-->

<div class="slider-container vertical-center">
  <span class="m1">{{startLabel}}</span>
  <div [style.width.rem]="sliderWidth" class="slider">
    <div class="value centered" [style.marginLeft.rem]="ix">{{label}}</div>
    <input type="range" min="0"
      [value]="ix"
      [attr.max]="sliderMax"
      [attr.step]="1"
      (input)="onChangeSlider($event)">
  </div>
  <span class="h24">{{endLabel}}</span>
</div>

<div class="pivot centered"
     [class.disabled]="!isPivotEnabled"
     (click)="onClickPivot()">
  <i class="bi bi-geo-fill"></i>
</div>
